{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<div class="education-container container-block">

    <h2 class="container-block-title">Certifications</h2>

    {% for certification in certifications %}
    <div class="item">
        <h3 class="degree"><img width="25" height="25" src="{{site.baseurl}}/assets/images/csm.png" >
            <a href="{{ certification.link }}" target="_blank">{{ certification.name }}</a></h3>
        <div class="time">{{ certification.validity }}</div>
    </div><!--//item-->
    {% endfor %}

</div><!--//education-container-->
{% endif %}